* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, #242424, #242424, #1b1b1b);
    text-align: center;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}


header > h1 {
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.589);
}


header > p {
    color: white;
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
    padding: 0px 10px 0px 10px;
}

nav {
    background-color: #1b1b1b;
    padding: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.555);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
}

nav > a:hover{
    color: white;
    text-decoration: underline;
    background-color: #a1a1a1;
    border-radius: 4px 4px 0px 0px;
    transition-duration: 0.4s;
}

body {
    background-color: #242424;
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    min-width: 70px;
    max-width: 600px;
    padding: 10px;
    margin: auto;
}

main h1 {
    background-color: black;
    color: white;
    border-radius: 5px;
}

a.externo::after {
    content: '\00A0\1F517';
}